body{
    background-image: url(xmas_tree_bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    background-color:#000;
}
.center{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    top: 50%;
    bottom: 50%;
    display: block;
    position: absolute;
    right: 20%;
    color: #fff;
}